<div class="clearfix">
  <div class="col-lg-3">
    <div class="panel  shadow">
      <div class="panel-heading">
        Advertise here
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel shadow ">
      <div class="panel-heading">
        Advertise here
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel  shadow">
      <div class="panel-heading">
        Advertise here
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel  shadow">
      <div class="panel-heading">
        Advertise here
      </div>
      <div class="panel-body">
        Panel content Panel content
      </div>
    </div>
  </div>
</div>