<h1>Editing template</h1>
<%= link_to 'Preview', @template %> |
<%= link_to 'Remove', @template, method: :delete %> |
<%= link_to 'Gallery', templates_path %>
<div class="clearfix"></div>
<%= render 'form' %>
