<!-- BEGIN DIV #TESTIMONIALS -->
<div class="testimonials" id="testimonials">

  <div class="background-solid">

    <div class="row">

      <div class="col-md-12 col-lg-12">

        <!-- Begin div #owl-container-services -->
        <div id="owl-container-testimonials" class="owl-carousel">

          <!-- First item carousel -->
          <div class="item">

            <!-- Container quotes wraps profile photo, name, and quote -->
            <div class="container-quotes">

              <!-- Profile photo -->
              <%= image_tag 'people/1.png', alt: 'People', class: 'profile' %>

              <!-- Div .quotes -->
              <div class="quotes">

                <!-- quote left icon -->
                <sup class="fa fa-quote-left"></sup>

                Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                <!-- quote right icon -->
                <sup class="fa fa-quote-right"></sup>

              </div><!-- end of quotes -->

              <!-- Profile name -->
              <h3 class="profile-name">togar natio</h3>

              <!-- Profession -->
              <cite>web designer</cite>

            </div><!-- end of container quotes -->

          </div><!-- end of first item carousel -->

          <!-- Second item carousel -->
          <div class="item">

            <div class="container-quotes">
              <%= image_tag 'people/2.png', alt: 'People', class: 'profile' %>

              <div class="quotes">
                <sup class="fa fa-quote-left"></sup>
                Ut enim ad minim veniam, quis nostrud exercitation<br>
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                <sup class="fa fa-quote-right"></sup>

              </div>

              <h3 class="profile-name">abdurrahman</h3>
              <cite>web developer</cite>
            </div>

          </div><!-- end of Second item carousel -->

          <!-- Third item carousel -->
          <div class="item">

            <div class="container-quotes">
              <%= image_tag 'people/3.png', alt: 'People', class: 'profile' %>

              <div class="quotes">
                <sup class="fa fa-quote-left"></sup>
                Duis aute irure dolor in reprehenderit in<br>
                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                <sup class="fa fa-quote-right"></sup>
              </div>

              <h3 class="profile-name">yona sinaga</h3>
              <cite>mobile designer</cite>
            </div>

          </div><!-- end of Third item carousel -->

        </div>
        <!-- end div #owl-container-services -->

      </div>
    </div>

  </div>
  <!-- end of div .background-solid -->

</div>
<!-- END OF DIV #TESTIMONIALS -->
