<!-- BEGIN DIV #PRICING-TABLE -->
<div id="pricing-table">

  <!-- Div #pricing-table title -->
  <h1 class="wow bounceIn" data-wow-offset="100">New - <strong>Pricing Table</strong></h1>

  <!-- Container colored line -->
  <div class="container-colored-line wow bounceIn" data-wow-offset="200">

    <!-- Colored line -->
    <hr class="colored-line">

    <!-- Additional line -->
    <div class="add-colored-line"></div>

  </div><!-- end of div .container-colored-line -->

  <!-- Div #pricing-table description -->
  <em class="description wow fadeInDown" data-wow-offset="200">Now you have responsive pricing table.</em>

  <div class="container-table">

    <!-- table 1 -->
    <div class="pricing wow fadeInRight table-1" data-wow-offset="400" data-wow-delay=".2s">
      <h3>Personal</h3>
      <div class="price-container row">
        <div class="col-md-12 dollar">$50</div>
        <div class="col-md-12 per-month">/ MONTH</div>
      </div>
      <em class="detail-price">Little description about this.</em>
      <ul class="price-features">
        <li>
          <span class="feature">Feature #1</span>
          <span class="check icon-checkmark"></span>
        </li>
        <li>
          <span class="feature">Feature #2</span>
          <span class="check icon-checkmark"></span>
        </li>
        <li>
          <span class="feature">Feature #3</span>
          <span class="cross icon-cross"></span>
        </li>
        <li>
          <span class="feature">Feature #4</span>
          <span class="cross icon-cross"></span>
        </li>
      </ul>
      <a class="order" href="#">Order Now!</a>

    </div><!-- end of table 1 -->

    <!-- table 2 -->
    <div class="pricing wow bounceIn" data-wow-offset="300">
      <h3>Proffesional</h3>
      <div class="price-container row">
        <div class="col-md-12 dollar">$80</div>
        <div class="col-md-12 per-month">/ MONTH</div>
      </div>
      <em class="detail-price">Little description about this.</em>
      <ul class="price-features">
        <li>
          <span class="feature">Feature #1</span>
          <span class="check icon-checkmark"></span>
        </li>
        <li>
          <span class="feature">Feature #2</span>
          <span class="check icon-checkmark"></span>
        </li>
        <li>
          <span class="feature">Feature #3</span>
          <span class="check icon-checkmark"></span>
        </li>
        <li>
          <span class="feature">Feature #4</span>
          <span class="check icon-checkmark"></span>
        </li>
      </ul>
      <a class="order" href="#">Order Now!</a>

    </div><!-- end of table 2 -->

    <!-- table 3 -->
    <div class="pricing wow fadeInLeft table-3" data-wow-offset="400" data-wow-delay=".2s">
      <h3>Business</h3>
      <div class="price-container row">
        <div class="col-md-12 dollar">$60</div>
        <div class="col-md-12 per-month">/ MONTH</div>
      </div>
      <em class="detail-price">Little description about this.</em>
      <ul class="price-features">
        <li>
          <span class="feature">Feature #1</span>
          <span class="check icon-checkmark"></span>
        </li>
        <li>
          <span class="feature">Feature #2</span>
          <span class="check icon-checkmark"></span>
        </li>
        <li>
          <span class="feature">Feature #3</span>
          <span class="check icon-checkmark"></span>
        </li>
        <li>
          <span class="feature">Feature #4</span>
          <span class="cross icon-cross"></span>
        </li>
      </ul>
      <a class="order" href="#">Order Now!</a>

    </div><!-- end of table 3 -->

  </div>

</div>
<!-- END OF DIV ##PRICING-TABLE -->
