<!-- BEGIN DIV #DOWNLOADS -->
<div id="downloads">

  <div class="background-solid">

    <h1 class="wow bounceIn" data-wow-offset="100">Experience <strong>soon</strong>!</h1>

    <div class="container-downloads wow fadeInUp" data-wow-offset="100">

      <p class="centering">
        <a href="#" target="_blank" class="windows">
          <%= image_tag 'download_on_the_app_store2_150x36px_.png', alt: 'Windows store button' %>
        </a>
      </p>

      <span class="other">or</span>

      <p class="centering">
        <a href="#" target="_blank" class="android">
          <%= image_tag 'buttons/google-play.png', alt: 'Google play button' %>
        </a>
      </p>
    </div>

  </div>

</div>
