<!-- BEGIN DIV #WHY -->
<div class="brief" id="why">

  <!-- Begin div .row -->
  <div class="row">

    <!-- Container phones wraps two phones -->
    <div class="col-md-6 col-lg-6 container-phones">

      <!-- The first phone mockup -->
      <div class="wow bounceInLeft" data-wow-offset="250" data-wow-delay=".35s" data-wow-duration="1.2s">
        <%= image_tag 'mockup/second-phone.png', alt: 'Apps mockup', class: 'first-phone' %>
      </div>

      <!-- The second phone mockup -->
      <div class="wow bounceInLeft" data-wow-offset="250" data-wow-duration="1.2s">
        <%= image_tag 'mockup/main-phone.png', alt: 'Apps mockup', class: 'second-phone' %>
      </div>

    </div><!-- end of container-phones -->

    <!-- Div #why - right column -->
    <div class="col-md-6 col-lg-6 right-column">

      <!-- Div #why title -->
      <h1 class="title wow fadeInRight" data-wow-offset="300">Because it's <strong>awesome</strong></h1>

      <!-- Container colored line two -->
      <div class="container-colored-line-two wow bounceInRight" data-wow-offset="300">

        <!-- Colored line two -->
        <hr class="colored-line-two">

        <!-- Additional colored line two -->
        <div class="add-colored-line-two"></div>
      </div><!-- end of container colored line two -->

      <!-- Div #why description -->
      <em class="description wow fadeInDown" data-wow-delay=".3s" data-wow-offset="300">Tell people why this app awesome.</em>

      <!-- Div .description -->
      <div class="container-description">

        <p class="why-description wow fadeInRight" data-wow-offset="300">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Donec ac facilisis ante. Praesent gravida tempus suscipit.<br>
          Praesent vel sem id ligula malesuada vehicula at id orci.
          In sem quam, semper id fringilla sed, sodales a ante. Ut molestie a lorem in luctus.
        </p>

      </div><!-- end of div .description -->

      <div class="container-other-download wow bounceInRight" data-wow-offset="300">
        <a href="#" class="get">Get App</a>
        <a href="#" class="learn">Learn more + </a>
      </div>

    </div><!-- end of div #why right column -->

  </div><!-- end of div .row -->

</div>
<!-- END OF DIV #WHY -->
