<!-- BEGIN DIV #ACTION -->
<div id="action">

  <!-- Div #action title -->
  <h1 class="wow bounceIn" data-wow-offset="100">See in <strong>Action</strong></h1>

  <!-- Container colored line -->
  <div class="container-colored-line wow bounceIn" data-wow-offset="200">

    <!-- Colored line -->
    <hr class="colored-line">

    <!-- Additional colored line -->
    <div class="add-colored-line"></div>

  </div><!-- End of container colored line -->

  <!-- Div #action description -->
  <em class="wow fadeInDown" data-wow-delay=".3s" data-wow-offset="200">Describe your app features interactively.</em>

  <div class="container-app wow bounceIn" data-wow-offset="100">

    <div class="container-comment top">
      <div class="indicator wow bounceIn" data-wow-offset="250"></div>
      <div class="comment wow fadeInLeft" data-wow-delay=".5s" data-wow-offset="250">Your profile picture goes here lorem ipsum.</div>
    </div>

    <div class="container-comment-right">
      <div class="indicator-right wow bounceIn" data-wow-offset="250"></div>
      <div class="comment-right wow fadeInRight" data-wow-delay=".5s" data-wow-offset="250">Check out your new activity lorem ipsum.</div>
    </div>

    <div class="container-comment bottom">
      <div class="indicator wow bounceIn" data-wow-offset="200"></div>
      <div class="comment wow fadeInLeft" data-wow-delay=".5s" data-wow-offset="250">This app is great, i love this lorem ipsum.</div>
    </div>

  </div>

</div>
<!-- END OF DIV #ACTION -->
