<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3   n-area-bg">
<legend class="login-now lato-font">Log In</legend>
<%= render partial: 'devise/sessions/form' %>
<%= render partial: 'devise/sessions/social_signin' %>
</div>
<span class="clearfix"></span>

<div class="n-no-acc lato-font">
Don't have an account ?
<%= link_to 'Sign Up', new_user_registration_path %>
</div>
