.center-logo img {
  margin: 44px auto 24px auto;
  overflow: hidden;
  width: auto;
}

.n-blu-bg {
  background: none repeat scroll 0 0 #029cdc;
}

.n-area-bg {
  background: #fff;
  border-radius: 3px;
  padding: 40px 40px 30px;
  overflow: hidden;
}

.lato-font {
  font-family: 'Lato', sans-serif;
}

.login-now {
  color: #565656;
  font-size: 35px;
  border: none;
  margin: 0 auto 25px;
  text-align: center;
}

.n-field input {
  outline: none;
}

.n-field input[type="email"], .n-field input[type="password"] {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  font-size: 18px;
  margin: 10px auto;
  padding: 15px;
  text-align: left;
  transition: opacity 0.4s ease 0s;
  width: 100%;
}

.n-field input[type="text"] {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  font-size: 18px;
  margin: 3px auto;
  padding: 15px;
  text-align: left;
  transition: opacity 0.4s ease 0s;
  width: 100%;
}

.n-signup-field input[type="email"] {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  display: block;
  font-size: 18px;
  margin: 5px auto 15px auto;
  padding: 7px;
  text-align: left;
  transition: opacity 0.4s ease 0s;
  width: 100%;
}

.n-signup-area-bg {
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  padding: 10px 48px;
  margin: auto;
  overflow: hidden;
  max-width: 450px;
}

.n-signup-all input[type="password"], .n-signup-all input[type="text"], .n-signup-all input[type="email"] {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  font-size: 18px;
  text-align: left;
  transition: opacity 0.4s ease 0s;
  width: 100%;

}

.n-signup-field input[type="password"], .n-signup-field input.fl-name {
  margin: 2px auto 16px;
  padding: 7px;
}

.n-signup-field input.site-link {
  margin: 2px auto 16px;
  padding: 7px 0 7px 7px;
  border-right: none !important;
  border-radius: 3px 0 0 3px;
}

.n-signup-field input {
  outline: none;
}

.n-signup-field input.n-username {
  margin: 2px auto 16px;
  padding: 7px 7px 7px 0;
  border-left: none !important;
  border-radius: 0 3px 3px 0;
}

.last-name {
  float: right !important;
}

#user_first_name,#user_password {
//  width: 97%;
}
#user_last_name, #user_password_confirmation {

  float: right!important;
}

.n-social-signin a:hover {
  text-decoration: none;
}

.n-field input[type="submit"] {
  background: none repeat scroll 0 0 #3498db;
  border: 0 none;
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  margin: auto;
  display: block;
  border-radius: 3px;
  padding: 10px;
  transition: opacity 0.4s ease 0s;
}

.n-signup-field input[type="submit"] {
  background: none repeat scroll 0 0 #82c872;
  border: 0 none;
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  margin: auto;
  display: block;
  border-radius: 3px;
  padding: 7px;
  transition: opacity 0.4s ease 0s;
}

.n-signup-field input[type="submit"]:hover {
  background-color: #71bf60;
  transition: background 0.1s ease 0s;
}

.n-field input[type="submit"]:hover {
  background-color: #029cdc;
  transition: background 0.1s ease 0s;
}

.n-Remember-me {
  margin-bottom: 13px;
}

input[type="checkbox"] {
  display: none;
}

.login-wrapper input[type="checkbox"] + label {
  color: #565656;
  font-weight: normal;
  font-size: 16px;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -3px 4px 0 0;
  vertical-align: middle;
  background: asset_url('check_radio_sheet.png') left top no-repeat;
  cursor: pointer;
}

input[type="checkbox"]:checked + label span {
  background: asset_url('check_radio_sheet.png') -19px top no-repeat;
}

.n-forget {
  margin: auto;
  display: block;
  text-align: center;
}

.n-forget-pass {
  border-bottom: 1px solid #bbb;
  text-decoration: none;
  color: #999;
  font-size: 14px;
  margin: 10px 0 0;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}

.n-forget-pass:hover {
  border-color: #999;
  text-decoration: none;
  color: #777;
}

.n-no-acc {
  margin: 20px auto;
  display: block;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.n-no-acc a {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}

.n-no-acc a:hover {
  color: #e7f1f9;
}

.n-social-signin {
  margin: 20px auto;
  text-align: center;
  overflow: hidden;
  display: block;
  font-size: 16px;
  line-height: 14px;
}

.n-social-signin i {
  font-size: 29px;
  margin-left: 8px;
}

.n-social-signin .fa-facebook-square {
  color: #1f69b3;
}

.n-social-signin .fa-twitter-square {
  color: #017bb7;
}

.n-social-signin .fa-google_oauth2-square {
  color: #fb201c;
}

.n-social-signin .fa-linkedin-square {
  color: #90c9dc;
}

.n-social-signin .fa-facebook-square:hover {
  color: #2c83da;
}

.n-social-signin .fa-twitter-square:hover {
  color: #0d9ce2;
}

.n-social-signin .fa-google_oauth2-square:hover {
  color: #c20f0c;
}

.n-social-signin .fa-linkedin-square:hover {
  color: #6eb7cf;
}

.fa-google_oauth2-square:before {
  content: "\f0d4";
}

@media (max-width: 980px) {
  .for-res-link {
    width: 52.667% !important;
  }

  .for-res-name {
    width: 47.333% !important;
  }
}

@media (width: 640px) {
  .for-res-link {
    width: 38.667% !important;
  }

  .for-res-name {
    width: 61.333% !important;
  }
}

@media (width: 480px) {
  .for-res-link {
    width: 54.667% !important;
  }

  .for-res-name {
    width: 45.333% !important;
  }
}

@media (max-width: 359px) {
  .n-signup-area-bg,.n-area-bg {
    padding: 10px;
  }
}


@media (max-width: 360px) {
  .for-res-link {
    width: 100% !important;
  }

  .for-res-name {
    width: 100% !important;
  }
}


@media (max-width: 459px) {
  .n-signup-field input.site-link {
    border-right: 2px solid #e7e7e7 !important;
  }

  .n-signup-field input.n-username {
    border-left: 2px solid #e7e7e7 !important;
  }

}
