<ul class="dropdown-menu tp-spc">
  <li class="panel-body for-fld">
    <%= render partial: 'devise/sessions/form' %>
  </li>
  <li class="signin-with">
    <%= render partial: 'devise/sessions/social_signin' %>
  </li>
</ul>
